@import "../../.cache/wal/colors-waybar.css";

body,
#waybar,
.main-container {
  font-family: "JetBrainsMonoNL NFM", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  border: 3px solid @color11;
  border-radius: 20px;
}

#waybar:hover,
.main-container:hover {
  background-color: rgba(0, 0, 0, 0.9);  /* Slightly darker background on hover */
}

#workspaces,
#custom-pacman,
#custom-rofi,
#custom-color_toggle,
#custom-power,
#clock,
#pulseaudio,
#network,
#bluetooth.on,
#bluetooth.connected,
#network.ethernet,
#battery, 
#network.wifi {
  border-width: 0;
  font-size: 20px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: transparent;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: @color7;
}
#workspaces button {
  color: @color7;
  background: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  background-color: @color11;
  opacity: 0.9;
  margin: 8px;
  border-radius: 5px;
}
#workspaces button:hover {
  opacity: 0.8;
  margin-right: 4px;
  margin-left: 4px;
  color: white;
}

#battery,
#custom-pacman,
#custom-power,
#clock,
#pulseaudio,
#network,
#bluetooth.on,
#bluetooth.connected {
  background-color: transparent;
  font-size: 16px;
  color: @color11;
  opacity: 0.8;
  padding: 0px;
  font-size: 24px;
}

#custom-pacman:hover,
#custom-power:hover,
#clock:hover {
  transition: all 0.3s ease-in-out;
  background: @background;
  color: @color1;
}

#pulseaudio.muted {
  background-color: transparent;
  color: @color1;
}

#bluetooth.off {
  background-color: @color5;
}

#custom-pacman {
  margin-top: 20px;
  font-size: 30px;
}

/*
#pulseaudio {
  padding-left: 11px;
}
*/
#pulseaudio {
  padding-right: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

#network {
  padding-right: 8px;
}

#clock {
  font-size: 14px;
}

#tray {
  margin-bottom: 20;
}

#battery {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#custom-power {
  padding-right: 2px;
  margin-bottom: 10px;
}

